@charset "UTF-8";
body {
  background: #fff;
  color: #5b5b5b; }

body, input, option, buttom, select, textarea, table {
  font: 12px/1.5 tahoma, arial, 宋体, sans-serif; }

body, dl, dt, dd, ol, ul, h1, h2, h3, h4, h5, form, fieldset, input, textarea, buttom, blockquote, pre, p, td, th {
  margin: 0;
  padding: 0; }

a {
  color: #5b5b5b;
  text-decoration: none; }

ul, ol {
  list-style-type: none; }

/* 头部 */
.rela {
  position: relative; }

.s_shoppingLine {
  border-bottom: 1px solid #000; }

.s_header {
  width: 950px;
  margin: 0 auto;
  background: #fff;
  height: 64px;
  padding-top: 12px;
  z-index: 99; }

.s_header .s_logo {
  height: 59px;
  width: 194px;
  margin-left: 13px; }

.s_header .s_logo a {
  height: 59px;
  width: 194px;
  overflow: hidden;
  display: block; }

.s_header .s_logo b {
  background: url(../images/s_05.png) no-repeat;
  width: 194px;
  height: 59px;
  left: 0;
  top: 0; }

.abso {
  position: absolute; }

.s_header .s_column {
  right: 10px;
  top: 15px;
  width: 600px;
  text-align: right;
  color: #151515; }

.s_header .s_column .s_mar, .s_mar {
  margin-bottom: 15px; }

.s_header .s_column p {
  height: 20px;
  display: block; }

.s_header .s_column .s_mar a, .s_mar a {
  float: right;
  padding: 0 10px; }

.s_header .s_column .s_mar b, .s_mar b {
  font-size: 16px;
  color: #F26521;
  line-height: 18px; }

.my_shoppingCart, .wares_div, .setted_d, .add_address, .indent_Not {
  width: 950px;
  margin: 0 auto;
  overflow: hidden; }

/* 头部结束 */
/* 订单流程 */
.shop_list {
  height: 40px;
  padding-top: 15px; }

.shop_list .st_ul {
  width: 950px;
  height: 33px;
  margin: 0 auto; }

.shop_list .st_ul .sli_bg {
  background: #82bf38;
  color: #fff; }

.shop_list .st_ul span.sli_on {
  background-position: 0 0;
  background: url(../images/s_shop1.gif) 0 0 no-repeat; }

.shop_list .st_ul li {
  float: left;
  width: 316px;
  background: #e2e2e2;
  height: 24px;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  font-weight: bold;
  _overflow: hidden; }

.shop_list .st_ul .sli_on, .shop_list .st_ul .sli_of, .shop_list .st_ul .sli_un, .shop_list .st_ul .sli_l, .shop_list .st_ul span.sli_b {
  width: 27px;
  height: 32px;
  float: right;
  overflow: hidden;
  position: relative;
  margin-top: -4px; }

.shop_list .st_ul .sli_of {
  background: url(../images/s_shop1.gif) 0 0 no-repeat; }

.shop_list .st_ul span.sli_of {
  background-position: -27px 0; }

/* 内容 */
.wares_div .war_h2 {
  font-size: 14px;
  padding: 10px;
  color: #000; }

.wares_div .wartab_div .war_tab1 {
  width: 100%;
  border: 1px solid #d6d3d3; }

table {
  border-collapse: collapse; }

.wares_div .wartab_div .war_tab1 tr th {
  height: 32px;
  text-align: center;
  color: #fff;
  background-position: 0 -73px;
  background-repeat: repeat-x;
  font-weight: normal; }

.quantity_div {
  width: 130px; }

.op_div {
  width: 130px; }

.wares_div .wartab_div .war_tab1 input {
  vertical-align: middle; }

.goodsitemb {
  border-bottom: 1px solid #D6D3D3; }

.wares_div .wartab_div .war_tab1 td {
  text-align: center;
  line-height: 25px;
  padding: 10px; }

.wer_span {
  position: relative;
  width: 200px;
  display: block;
  padding-right: 0px;
  line-height: 18px; }

.activity_tips {
  color: #f00; }

.activity_icon {
  font-style: normal;
  line-height: 16px;
  color: #f00;
  border: 1px solid #f00;
  border-radius: 2px;
  padding: 1px 3px;
  margin-right: 4px; }

.item_checked {
  background: #fff4e8; }

.wares_div .wartab_div .war_tab1 td.chebox {
  text-align: left;
  padding-left: 15px; }

.wares_div .wartab_div .war_tab1 .tx_img {
  float: left;
  padding: 10px 10px 0px; }

.wares_div .wartab_div .war_tab1 .txtl {
  float: left;
  text-align: left;
  padding: 10px 10px 0px; }

.wares_div .wartab_div .war_tab1 td.pricetd {
  color: #000; }

.xiupricew {
  text-decoration: line-through;
  color: #a6a6a6; }

.xiupricew a {
  color: #a6a6a6; }

.wares_div .wartab_div .war_tab1 .at {
  border: 1px solid #666;
  height: 10px;
  width: 10px;
  overflow: hidden;
  display: inline-block;
  line-height: 8px;
  margin-bottom: -3px; }

.wares_div .wartab_div .war_tab1 .war_txt {
  line-height: 15px;
  height: 15px; }

.wares_div .wartab_div .war_txt {
  width: 30px;
  border: 1px solid #dfdfdf;
  margin: 0 10px;
  text-align: center; }

.inventory_shortage {
  background: url(../images/s_shop1.gif) 0 0 no-repeat;
  display: block;
  background-position: -38px -849px;
  width: 54px;
  height: 18px;
  margin: 5px auto 0 auto; }

.cartbar {
  height: 60px;
  /* line-height: 60px; */
  border: 1px solid #d8d7d7;
  background: #fff;
  margin: 5px auto 0; }

.cartbar_wrap .carbar_cheall {
  float: left;
  height: 18px;
  line-height: 18px;
  padding: 16px 0 16px 9px;
  white-space: nowrap;
  margin-top: 5px; }

.cartbar_wrap .cartbar_opa {
  float: left;
  width: 300px;
  height: 50px;
  line-height: 50px;
  position: relative;
  margin-top: 5px; }

.cartbar_wrap .cartbar_opa a.delbtn {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  margin-left: 15px; }

.cartbar_wrap .cartbar_chego {
  float: left;
  width: 180px;
  text-align: center; }

.cartbar_wrap .cartbar_chego b {
  margin: 0 5px;
  color: #ea7515; }

.cartbar_wrap .cartbar_totall {
  float: left;
  width: 240px; }

.cartbar_wrap .cartbar_totall span {
  color: #a1a1a1; }

.cartbar_wrap .cartbar_totall .cartbar_total_spn span {
  color: #ea7515;
  font-size: 20px;
  font-weight: normal; }

.cartbar_wrap .cartbar_pay {
  margin: 5px;
  float: right;
  display: block;
  width: 114px;
  height: 50px;
  line-height: 50px;
  background: url(../images/cartbar_btn.jpg) no-repeat;
  text-indent: -9999em;
  overflow: hidden;
  border: 0px; }

.cartbar_wrap .cartbar_payok {
  background-position: 0 -50px; }

/* 内容底 */
.elements_list {
  width: 950px;
  clear: both;
  overflow: hidden;
  margin-top: 12px; }

#banner_ShoppingCart {
  padding-bottom: 12px; }

.bfd {
  height: auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  border: solid 1px #ccc;
  clear: both; }

.set_far {
  padding-top: 20px;
  padding-bottom: 10px; }

.set_far h2 {
  font-size: 12px;
  height: 27px; }

.set_far h2 a {
  width: 171px;
  height: 27px;
  overflow: hidden;
  position: relative; }

.set_far h2 a.out b {
  background-position: 0 -289px; }

.set_far h2 b, .set_far h2 a.on b a:hover {
  width: 171px;
  height: 27px;
  position: absolute;
  top: 0;
  left: 0;
  background-position: 0 -259px; }

.set_far b {
  background: url(../images/s_shop1.gif) 0 0 no-repeat; }

/* 底部 */
.M_shopping {
  color: #7D7D7D;
  line-height: 22px;
  margin: 15px auto 20px;
  overflow: hidden;
  text-align: center;
  width: 950px;
  border-top: 1px solid #999;
  padding-top: 10px; }
