@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px; }

body {
  font: 12px tahoma,arial,sans-serif;
  color: #000;
  background: #fff;
  display: block; }

ul, li, dl, dd, dt, ol {
  list-style: none; }

a {
  text-decoration: none; }

/* 头部 */
.fix_hg {
  height: auto;
  background-color: #000; }

.header {
  min-width: 1200px;
  background: #333; }

.header .logindiv {
  color: #d7d7d7;
  float: left; }

.header .logindiv a {
  padding: 0 5px; }

.topMain_warp {
  width: 1200px;
  height: 83px;
  margin: 0 auto;
  padding: 10px 0 0; }

.topMain_box {
  float: left;
  width: 1200px;
  position: relative;
  z-index: 5;
  zoom: 1; }

.J_shorcut {
  float: left;
  width: 400px;
  margin: -8px 0 0; }

.toplink {
  height: 34px;
  line-height: 34px;
  z-index: 5;
  position: relative;
  float: left;
  zoom: 1; }

.toplink li a {
  display: inline-block;
  color: #d7d7d7; }

.toplink li {
  display: inline;
  float: left; }

.toplink li.my_bag {
  padding: 0 6px 0 4px; }

/* .toplink li.my_bag i{
	color:#d7d7d7;
} */
.toplink li.my_bag a {
  padding: 0px 4px 0px 26px;
  border: 1px solid #333;
  border-bottom: none;
  background: url(../images/spriter2016.png) no-repeat -215px -40px;
  z-index: 999; }

.toplink li.my_xiu {
  height: 34px;
  padding: 0 6px 0 0px;
  background: url(../images/spriter2016.png) no-repeat right -108px; }

.toplink li.my_bag .redx {
  padding: 0 2px; }

.redx {
  color: #f78407; }

.toplink li.my_xiu a.down, .toplink li.customer_service a.down {
  padding: 0px 15px 0px 10px;
  border: 1px solid #333;
  border-bottom: none; }

.logo_m {
  width: 212px;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -106px; }

.logo_m a {
  display: block;
  width: 212px;
  height: 32px;
  background: url(../images/spriter2016.png) no-repeat 0 0; }

.leon-search-box {
  position: relative; }

.search_x .search_text_box {
  float: left;
  width: 263px;
  position: relative; }

.leon-welcome {
  position: absolute;
  top: 6px;
  left: 10px;
  z-index: 2;
  color: #787878;
  font-family: Tahoma, Geneva, sans-serif; }

.search_x input {
  display: inline;
  float: left;
  height: 26px;
  line-height: 26px;
  margin: 0;
  padding: 0 34px 0 8px;
  color: #787878;
  border: 1px solid #787878;
  background: #333;
  font-size: 12px;
  width: 219px; }

.search_x input.s_btn {
  position: absolute;
  right: 2px;
  top: 0;
  width: 28px;
  height: 26px;
  padding: 0px;
  margin: 0;
  cursor: pointer;
  background: url(../images/spriter2016.png) no-repeat 0 -42px;
  border: 0; }

.clearfix:after, .clr:after {
  display: block;
  clear: both;
  content: '.';
  height: 0px;
  line-height: 0px;
  visibility: hidden; }

.main_nav_box {
  margin: 10px auto 0;
  width: 1200px;
  z-index: 2;
  clear: both;
  height: 44px; }

.main_nav_box .navlist {
  background: none;
  margin: 0 auto;
  /* margin: 12px auto 0; */
  padding: 0;
  text-align: center; }

.main_nav_box .navlist li {
  display: inline-block;
  *display: inline;
  position: relative;
  font-family: "微软雅黑","microsoft yahei","宋体"; }

.main_nav_box .navlist li a {
  display: inline-block;
  *display: inline;
  padding: 12px 15px 10px;
  margin: 0 6px;
  height: 20px;
  line-height: 20px;
  font-size: 15px;
  color: #eee;
  border-bottom: 2px solid #333;
  z-index: 2; }

/* 导航 */
.fix_hg2 {
  height: auto; }

.navbox {
  min-width: 1200px;
  height: 42px;
  background: #f7f7f7;
  border-bottom: 1px solid #fff; }

.nav, .nav ul {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 4;
  text-align: center; }

.clearfix, .clr {
  zoom: 1; }

.nav li {
  margin: 0 auto;
  display: inline-block;
  height: 42px;
  position: relative; }

.nav li a {
  display: inline-block;
  height: 42px;
  line-height: 42px;
  margin-right: 5px; }

.nav li a span {
  display: inline-block;
  height: 41px;
  overflow: hidden;
  line-height: 42px;
  font-size: 14px;
  color: #000;
  cursor: default;
  width: 60px;
  text-align: center;
  border-left: #f7f7f7 1px solid;
  border-right: #f7f7f7 1px solid;
  border-top: #f7f7f7 1px solid;
  position: relative; }

a {
  color: #000;
  outline: none;
  -moz-outline: none; }

/* 下拉菜单 */
.nav li.m4 .submenu {
  background: #fff; }

.nav li .submenu {
  display: none;
  position: absolute;
  top: 42px;
  left: 0;
  border: #fff 1px solid;
  z-index: 3;
  text-align: left; }

.tyo_con {
  width: 720px;
  padding: 10px 10px 0 15px; }

.tyo_con .tyoCon_l, .tyo_con .tyoCon_r {
  display: inline;
  float: left;
  width: 450px; }

.tyo_con dt, .tyo_con dd {
  line-height: 18px; }

.tyo_con h4 {
  font-size: 12px;
  width: 100%;
  float: left; }

.tyoCon_l dl {
  border-bottom: 1px dotted #959595;
  float: left;
  clear: both;
  width: 100%;
  padding-bottom: 5px;
  margin: 4px 0; }

.tyoCon_l dt a {
  font-weight: bold;
  line-height: 20px;
  height: 20px;
  text-align: left;
  margin: 0;
  padding: 0; }

.tyoCon_l dd {
  float: left;
  color: #a8a8a8; }

.tyoCon_l dl.last {
  border: 0 none; }

.tyo_con .tyoCon_r {
  float: right;
  width: 240px;
  padding: 0 4px 0 16px; }

.tyoCon_r dl {
  margin-bottom: 12px;
  width: 222px;
  margin: 0 auto; }

.tyoCon_r dt {
  font-weight: bold;
  margin-bottom: 2px; }

.tyoCon_r dd a {
  display: inline;
  float: left;
  width: 100px;
  height: 18px;
  line-height: 18px;
  overflow: hidden;
  text-align: left;
  margin: 2px 10px 2px 0;
  font-family: Tahoma, Geneva, sans-serif; }

.dh a {
  color: #005ba1; }

/* 内容 */
.main {
  width: 1000px;
  margin: 0 auto; }

.dh {
  margin: 10px 0 16px 0;
  padding: 0 0 5px 12px;
  line-height: 25px;
  color: #646464;
  border-bottom: 1px solid #e5e5e5;
  background: url(../images/goods_info.gif) no-repeat 0 7px;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 988px; }

.pro_con {
  margin-top: 15px;
  display: table;
  width: 1000px; }

.con_main {
  width: 100%;
  overflow: hidden;
  clear: both;
  margin-bottom: 30px; }

.con_main .p_map {
  width: 412px;
  float: left; }

.con_main .big_map {
  border: 1px solid #ccc;
  position: relative;
  /* padding: 5px; */
  height: 536px;
  width: 402px;
  z-index: 1; }

.con_main .sm_map {
  margin-top: 8px;
  width: 405px;
  height: 100%;
  overflow: hidden; }

.con_main .sm_map dl {
  width: 405px; }

.con_main .sm_map dd {
  float: left;
  margin: 5px 4px 0 4px;
  display: inline;
  width: 73px;
  height: 98px;
  background: url(../images/goods_info.gif) no-repeat -200px -333px;
  overflow: hidden;
  position: relative; }

.con_main .sm_map dd a {
  display: block;
  width: 66px;
  height: 88px;
  margin: 4px 0 0 4px; }

.con_main .sm_map dd a img {
  width: 66px;
  height: 88px; }

.con_main .p_jx {
  width: 570px;
  float: right;
  position: relative;
  z-index: 0; }

.con_main .p_jx .p_title {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  line-height: 25px;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 0 5px 0px;
  float: left;
  width: 560px; }

.con_main .p_jx .p_title span {
  width: 100%;
  float: left;
  margin-bottom: 8px; }

.con_main .p_jx .p_title span.cp {
  clear: both;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 0;
  color: #646464;
  height: auto;
  overflow: auto; }

.con_main .p_jx .p_title font {
  float: left;
  font-size: 12px;
  color: #646464; }

.con_main .p_jx .p_title span.cp i {
  font-style: normal;
  float: right;
  font-size: 12px;
  color: #646464; }

.con_main .p_jx .xxjx {
  padding: 20px 0 20px 0px;
  position: relative;
  z-index: 2;
  float: left; }

.cor {
  color: #ea7514; }

.spw {
  width: 63px;
  line-height: 30px;
  text-align: left;
  display: inline-block;
  /* font-family: simsun; */
  float: left; }

.con_main .p_jx .xxjx span.style3 {
  color: #cf1700;
  height: 30px;
  font-size: 26px;
  font-family: Tahoma, Geneva, sans-serif;
  padding-left: 15px;
  background: url(../images/goods_info.gif) no-repeat 0 -95px;
  position: relative;
  float: left; }

.con_main .p_jx .xxjx p.sec_time {
  /* width: 160px; */
  float: left;
  text-align: left;
  background: url(../images/goods_info.gif) no-repeat -254px -755px;
  padding-left: 22px;
  margin-left: 15px; }

.con_main .p_jx .xxjx p.sec_time span {
  color: #CF1700;
  font-weight: bold;
  padding: 0;
  margin: 0; }

.con_main .p_jx .xxjx div.xs {
  width: 570px;
  margin-right: 10px;
  /* position: relative; */ }

.con_main .p_jx .xxjx div.xs {
  width: 570px;
  margin-right: 10px;
  /* position: relative; */ }

.spw {
  width: 63px;
  line-height: 30px;
  text-align: left;
  display: inline-block;
  /* font-family: simsun; */
  float: left; }

.con_main .p_jx .xxjx div.col1 {
  color: #666;
  /* position: relative; */
  float: left;
  width: 570px;
  font-family: Tahoma, Geneva, sans-serif; }

.con_main .p_jx .cx_tips .cx_detail {
  float: left; }

.con_main .p_jx .xxjx p {
  line-height: 30px;
  vertical-align: middle; }

.con_main .p_jx .cx_tips .cx_detail .cx_icon {
  line-height: 16px;
  color: #f00;
  border: 1px solid #f00;
  border-radius: 2px;
  padding: 1px 3px;
  margin-right: 4px; }

.con_main .p_jx .xxjx .layer13 {
  position: relative; }

.con_main .p_jx .xxjx .col1 {
  color: #666;
  /* position: relative; */
  float: left;
  width: 390px;
  font-family: Tahoma, Geneva, sans-serif; }

.con_main .p_jx .xxjx .layer13 b {
  font-weight: bold;
  color: #EB7515;
  font-size: 14px;
  float: left; }

.con_main .p_jx .xxjx .layer13 .stime {
  margin-left: 20px;
  font-size: 13px; }

.con_main .p_jx .xxjx p.myf b {
  color: #ea7514;
  font-size: 15px;
  font-family: simsun; }

.con_main .p_jx .xxjx .layer13 a {
  color: #005ba1;
  cursor: default;
  z-index: 9;
  float: left;
  text-decoration: underline;
  padding-left: 10px; }

.con_main .p_jx .xxjx .layer13 a i.tiptools {
  position: absolute;
  border: solid #ccc 1px;
  width: 570px;
  left: -3px;
  top: 30px;
  height: 205px;
  z-index: 999;
  background: #fff;
  display: none;
  padding: 7px 0; }

.con_main .p_jx .xxjx .col1 {
  color: #666;
  /* position: relative; */
  float: left;
  width: 390px;
  font-family: Tahoma, Geneva, sans-serif; }

.con_main .p_jx .xxjx .seedet {
  padding-left: 10px;
  position: relative;
  display: inline-block;
  color: #005ba1;
  text-decoration: underline; }

.con_main .p_jx .xxjx .seedet em {
  display: none;
  width: 288px;
  height: 75px;
  padding: 5px 6px 0;
  line-height: 20px;
  font-size: 12px;
  background: url(../images/tipsbg.gif) no-repeat;
  color: #4d4d4d;
  position: absolute;
  left: -13px;
  top: -75px;
  font-style: normal; }

.con_main .p_jx .cm {
  display: table;
  float: left;
  border-top: 1px solid #e5e5e5; }

.con_main .p_jx .cm .modleDiv {
  padding: 10px 0;
  width: 546px;
  color: #646464; }

.cm_hz {
  margin: 7px 0 8px 0;
  *margin: 8px 0 8px 0;
  _margin: 8px 0 9px 0;
  float: left;
  width: 100%; }

.xsxm {
  width: 60px;
  float: left;
  line-height: 25px;
  text-align: left; }

.cmxs {
  float: left;
  width: 440px;
  line-height: 23px; }

.cmxs ul {
  margin: 0;
  padding: 0; }

.cmxs li {
  display: inline;
  text-align: center; }

.cmxs li a {
  float: left;
  display: block;
  border: 1px solid #ccc;
  font-size: 12px;
  height: 20px;
  padding: 2px 8px;
  line-height: 20px;
  width: auto;
  margin: 0 10px 5px 0;
  background: #fff;
  overflow: hidden;
  text-align: center;
  color: #646464; }

.cmxs li.selected a {
  border: 2px solid #ff6701;
  font-size: 12px;
  height: 20px;
  padding: 1px 7px;
  line-height: 20px;
  width: auto;
  background: #fff url(../images/goods_info.gif) no-repeat right -52px; }

.cmxs li.selected a {
  border: 2px solid #ff6701;
  font-size: 12px;
  height: 20px;
  padding: 1px 7px;
  line-height: 20px;
  width: auto;
  background: #fff url(../images/goods_info.gif) no-repeat right -52px; }

.cmxs span.down, .cmxs span.up {
  width: 15px;
  height: 19px;
  background: url(../images/goods_info.gif) no-repeat;
  display: inline;
  float: left;
  cursor: pointer; }

.cmxs span.down.dis {
  cursor: default;
  background-position: -224px -160px; }

.con_main .p_jx .cmxs input {
  height: 20px;
  border: 1px solid #ccc;
  width: 50px;
  text-align: center;
  float: left;
  margin: 0 6px; }

.cmxs span.up {
  margin-right: 3px;
  background-position: -207px -179px; }

.stock-con {
  display: none;
  margin-left: 15px; }

.stock-con .stock_num {
  color: #CF1700;
  padding: 0px 2px; }

.cmxsb {
  width: 100%; }

.cmxs .fqfh {
  background: url(../images/fqb.gif) left center no-repeat;
  padding: 0 10px 0 20px; }

.cmxs .gift, .cmxs .fqfh {
  float: left;
  height: 20px;
  line-height: 20px;
  position: relative;
  display: inline-block; }

.cmxs .gift em, .cmxs .fqfh em {
  display: none;
  width: 288px;
  height: 75px;
  padding: 5px 6px 0;
  line-height: 20px;
  font-size: 12px;
  background: url(../images/tipsbg.gif) no-repeat;
  color: #4d4d4d;
  position: absolute;
  left: 0px;
  top: -80px;
  font-style: normal; }

.cmxs .wlb {
  float: left;
  color: #000;
  background: url(../images/wlb.jpg) left center no-repeat;
  padding: 0 10px 0 20px; }

.cmxs .wlb a {
  color: #000;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.cmxs .fwb {
  float: left;
  color: #000;
  background: url(../images/fwb.jpg) left center no-repeat;
  padding: 0 0 0 22px; }

.buy_it {
  height: 38px;
  clear: both;
  position: relative;
  z-index: 1;
  /* width: 380px; */
  padding: 20px 0 15px; }

.buy_it a.user_buy0, .buy_it a.user_buy6, .buy_it a.user_buy1, .buy_it a.user_buy2, .buy_it a.user_buy3, .buy_it a.user_buy4, .buy_it a.user_buy5, .buy_it a.user_buy7 {
  background: url(../images/goods_info.gif) no-repeat;
  height: 36px;
  width: 153px;
  display: block;
  float: left;
  position: relative;
  margin-right: 15px; }

.buy_it a.user_buy0 {
  background-position: 0 -844px; }

.buy_it a.user_buy1 {
  background-position: 0 -916px; }

.buy_it a.sc_t {
  background: url(../images/goods_info.gif) no-repeat;
  width: 61px;
  height: 36px;
  display: inline-block; }

.buy_it a.sc_t {
  background-position: -211px -1435px; }

.buy_it a {
  color: #555; }

.call_buy {
  color: #ea7414;
  font-size: 14px; }

.call_buy span {
  color: #7e7e7e;
  font-size: 12px; }

.call_buy strong {
  font-size: 16px; }

.share_box {
  margin-top: 30px;
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
  overflow: hidden; }

.share_box dl {
  float: left;
  width: 220px;
  border-right: 1px solid #e5e5e5; }

.share_box dt {
  float: left;
  padding-right: 15px; }

.share_box dd {
  line-height: 18px;
  color: #707070; }

.ensuer {
  float: left;
  padding-left: 50px;
  width: 295px; }

.fxd {
  height: 24px;
  line-height: normal;
  padding: 7px 0px;
  margin-top: 30px;
  clear: both;
  background: url(../images/invite_goods_info.gif) no-repeat 35px -24px; }

.fxd span, .fxd a {
  display: inline;
  float: left;
  height: 16px;
  line-height: 16px;
  color: #707070; }

.fxd a {
  width: 24px;
  margin-right: 7px;
  display: inline-block; }

/* 右边导航 */
#backtop {
  position: fixed;
  right: 30px;
  bottom: 180px;
  display: block;
  z-index: 20000; }

#backtop span.closed {
  color: #f00;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  width: 67px;
  height: 30px;
  line-height: 30px;
  background: #fff;
  border: 1px solid #ddd; }

#backtop .r_menu {
  width: 67px;
  background: #fff; }

#backtop a.service, #backtop a.service:hover, #backtop a.buy, #backtop a.buy:hover, #backtop a.mail, #backtop a.mail:hover, #backtop a.backtop, #backtop a.backtop:hover, #backtop a.buy_add {
  background: url(../images/r_menu_bg.jpg) no-repeat;
  width: 69px;
  height: 56px; }

#backtop a {
  background: #fff;
  text-decoration: none;
  display: block;
  width: 60px;
  height: 26px;
  line-height: 26px;
  color: #444;
  text-align: center;
  border-bottom: 1px solid #e7e7e7; }

#backtop a.buy span.num {
  background: url(../images/circle.png) no-repeat;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  display: inline-block;
  margin-top: 4px;
  margin-left: 28px; }

#backtop a.buy {
  background-position: 0px -57px; }

#backtop a.mail {
  background-position: 0px -115px; }

#backtop a.backtop {
  background-position: 0px -172px; }

#backtop a.service:hover {
  background-position: -68px top; }

#backtop a.buy:hover, #backtop a.buy_add {
  background-position: -68px -57px; }

#backtop a.mail:hover {
  background-position: -68px -115px; }

#backtop a.backtop:hover {
  background-position: -68px -172px; }

/* 底部 */
.footer_frame {
  width: 100%;
  background: #fff; }

.footer {
  margin: 20px auto 0;
  padding-bottom: 20px;
  width: 100%;
  margin: 0 auto; }

.cindex_info {
  background: #F2F2F2;
  border-top: #9a9a9a 3px solid;
  margin: 0 0 15px 0;
  height: 170px;
  font-family: "微软雅黑",microsoft yahei,"宋体"; }

.service_info {
  width: 100%;
  color: #fff;
  padding-top: 20px;
  min-width: 1200px;
  clear: both; }

.service_info .service_nr {
  width: 1200px; }

.w {
  width: 950px;
  margin: 0 auto; }

.cindex_info .cs {
  height: 125px;
  margin: 10px 100px 0 0;
  display: inline;
  width: 183px; }

.cindex_info a {
  color: #252525; }

.kf {
  background: url(../images/footer_sprite.gif) no-repeat left -86px;
  display: inline-block;
  width: 183px;
  height: 35px; }

a, ins {
  text-decoration: none; }

.p_num {
  background: url(../images/footer_sprite.gif) no-repeat left -122px;
  width: 183px;
  height: 45px; }

.mail_link {
  background: url(../images/footer_sprite.gif) no-repeat left -167px;
  display: inline-block;
  width: 183px;
  height: 35px; }

.cindex_info dl {
  padding: 8px 60px 0 0;
  width: 200px; }

.service_info .new_dl dd {
  font-size: 14px;
  line-height: 26px;
  color: #4c4c4c;
  height: auto;
  overflow: visible; }

.service_info dl dd {
  width: 100%;
  line-height: 20px;
  height: 20px;
  overflow: hidden; }

.service_info .new_dl dd a {
  color: #4c4c4c; }

.service_info .cs, .service_info dl, .service_info dl * {
  float: left; }

.service_info .new_us {
  width: 254px;
  padding: 0;
  padding-top: 12px; }

.service_info .new_us dt {
  height: 15px;
  border-bottom: 1px solid #808080;
  font-size: 18px;
  line-height: 30px;
  color: #111;
  font-weight: normal;
  text-align: center;
  margin-bottom: 15px; }

.service_info dl dt {
  width: 100%;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold; }

.service_info .new_us dt span {
  display: inline-block;
  background: #f2f2f2;
  padding: 0 10px;
  float: none; }

.service_info .new_us .new_us_p {
  position: relative;
  overflow: visible; }

.service_info .new_us dd {
  overflow: visible; }

.service_info .new_us dd, .service_info .new_us dd p {
  overflow: hidden;
  height: auto; }

.service_info dl dd {
  width: 100%;
  line-height: 20px;
  height: 20px;
  overflow: hidden; }

.service_info .new_us .new_us_p {
  position: relative; }

.service_info .new_us dd p {
  padding-top: 18px;
  width: 290px;
  float: none; }

.service_info .new_us dd p a.weixin {
  background-position: left -226px; }

.service_info .new_us dd p a {
  float: left;
  text-indent: -10000px;
  width: 27px;
  height: 22px;
  margin: 0 36px 0 7px;
  overflow: hidden; }

.hide_box, .service_info .new_us dd p a, .service_info .new_us dd .email_box, .service_info .new_us dd .email_tip {
  background: url(../images/footer_sprite.gif) no-repeat; }

.service_info .new_us dd p a.weibo {
  background-position: -70px -226px; }

.service_info .new_us dd p a.instagram {
  background-position: -144px -226px; }

.service_info .new_us dd p a.facebook {
  background-position: -214px -226px; }

.service_info .new_us dd .email_box {
  width: 253px;
  height: 30px;
  background-position: left -436px;
  padding-top: 0;
  margin-top: 24px;
  position: relative; }

.service_info .new_us dd .email_box .email_in {
  width: 213px;
  float: left;
  height: 30px;
  font: 14px/30px 'Microsoft YaHei';
  color: #333;
  padding-left: 10px;
  background: none;
  border: none; }

.service_info .new_us dd .email_box .submit_btn {
  float: right;
  width: 30px;
  height: 30px;
  background: none;
  cursor: pointer;
  border: none; }

.cindex_info dl.wchat {
  float: right;
  width: 95px;
  padding-right: 0; }

.service_info dl dt {
  width: 100%;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 700; }

.cindex_info dl.wchat dt {
  font-size: 16px;
  line-height: 30px;
  color: #111;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 2px 0 5px; }

.cindex_info dl.wchat dd {
  background: url(../images/footer_sprite.gif) no-repeat -189px -87px;
  width: 85px;
  height: 85px;
  margin-left: 0px;
  cursor: pointer; }

.footer .footlink, .footlink .fLink_con, .fLink_con ul {
  height: 32px;
  line-height: 32px;
  clear: both;
  min-width: 1000px; }

.fLink_con ul {
  text-align: center; }

.fLink_con li {
  display: inline;
  text-align: center;
  color: #ccc; }

.fLink_con li a {
  margin: 0 8px 0 6px;
  color: #000; }

.foot_btn {
  width: 630px;
  height: 50px;
  padding: 10px 0px;
  margin: 0 auto; }

.foot_btn a.fa1 {
  background-position: 0 0; }

.foot_btn a.fa2 {
  background-position: -192px 0; }

.foot_btn a.fa3 {
  background-position: -385px 0; }

.foot_btn a {
  background: url(../images/foot_icons.jpg) no-repeat;
  width: 145px;
  height: 44px;
  margin-left: 47px;
  display: inline-block;
  float: left; }

.copyright {
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #999;
  font-family: Tahoma, Geneva, sans-serif, '宋体';
  clear: both;
  min-width: 1000px; }

.copyright a {
  margin: 0 3px;
  color: #999;
  font-weight: bold; }

.des_div {
  height: 100%;
  overflow: hidden;
  padding: 10px 0px;
  width: 1000px;
  margin: 0 auto;
  text-align: center; }
